@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
  0% { opacity: 0.9; }
  100% { opacity: 0; }
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-gray-950 text-white antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input,
  textarea,
  button {
    font-size: 16px;
  }
}
